body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: #ccc;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1em;
}

a {
  color: #9571d8;
  text-decoration: none;
  transition: color 0.25s;
}

a:hover {
  color: #fcfc4c;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: 2px solid #333;
}

.header {
  text-align: center;
  width: fit-content;
  margin: auto;
  padding: 0.5em;
  border-bottom: 4px solid #ccc;
}

.section {
  width: 85%;
}
