.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  margin: 0 0.5em;
  font-size: 1.2em;
}

@media (max-width: 800px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav nav {
    justify-content: center;
  }
}
